-o "videos/%(id)s/%(title)s.%(ext)s"
# To reduce output video filesize, use the following instead to limit to [height<1080][fps<?60]
#-f 'best[height<1080][fps<?60]' -o "videos/%(id)s/%(title)s.%(ext)s"
--quiet
--hls-use-mpegts
--downloader-args "ffmpeg_i:-loglevel error -reconnect 1 -reconnect_streamed 1 -reconnect_on_network_error 1 -reconnect_delay_max 30 -rw_timeout 30000000 -timeout 30000000"
--downloader-args "ffmpeg_o:-shortest -movflags +frag_keyframe+empty_moov+default_base_moof"
--cookies ./chaturbate.com_cookies.txt
#--user-agent "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36"
